
<!DOCTYPE html>
<html>
  <head>
    <title>Target Dashboards</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="dStkAu6hkeohMec5x5LRE6Ji/IMUEfGooNexAnsDfThuX7CirUPp7aVyE6APmRfY/XcnTFTb2UQw0qm9ucyGQw==" />

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  </head>

  <body>
    <h1>Dashboards</h1>

<ul>
  <li>
    <a href="/forex">
      Foreign exchange rates
    </a>
  </li>

  </body>
</html>
